In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('cleaned_data2.xlsx')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29243 entries, 0 to 29242
Data columns (total 43 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sl_no                     29243 non-null  int64
 1   AR_Category               29243 non-null  object
 2   status                    29243 non-null  object
 3   GK_order_ID_or_AMD_Chart  29243 non-null  int64
 4   Accession                 29084 non-null  object
 5   Patient_id                29243 non-null  int64
 6   Claim_id_or_AMD_Visit     29243 non-null  int64
 7   Patient_Name              29243 non-null  object
 8   DOB                       29088 non-null  datetime64[ns]
 9   Payer_Family              29243 non-null  object
 10  Payer                     29243 non-null  object
 11  Date_of_Service           29222 non-null  datetime64[ns]
 12  AMD_CPT_Codes             29243 non-null  int64
 13  Billed_amt                29243 non-null  object
 14  Last_Billed_Date          24744 non-null  datetime64[ns]
 15  Date_x                    29243 non-null  datetime64[ns]
 16  Aging_Days_from_DOS       29243 non-null  object
 17  Aging_Bucket_from_DOS     29243 non-null  object
 18  TFL_Bucket                29243 non-null  object
 19   Paid_Amount              12573 non-null  float64
 20  Balance                   29243 non-null  object
 21  check_no                  10546 non-null  object
 22  Billed_Status             29243 non-null  object
 23  Pay_status                11353 non-null  object
 24  Paid_date                 11359 non-null  datetime64[ns]
 25  Claim_status              29243 non-null  object
 26  AR_Status                 29243 non-null  object
 27  Response                  29243 non-null  object
 28  Denial_Category           29243 non-null  object
 29  Medi_Cal_Claims_Remark    4036 non-null   object
 30  GK_Location               29243 non-null  object
 31  Report                    29243 non-null  object
 32  Billed_Amount             873 non-null    float64
 33  Allowed_Amount            410 non-null    float64
 34  Paid_Amount_DEC           869 non-null    float64
 35  Adjustment_Amount         162 non-null    float64
 36  Denied                    162 non-null    float64
 37  Remark_Code               251 non-null    float64
 38  Check_Amount              1 non-null      float64
 39  File_name_or_Remarks      1 non-null      float64
 40  Page                      913 non-null    float64
 41  comments                  0 non-null      float64
 42  names                     3 non-null      object
dtypes: datetime64[ns](5), float64(11), int64(5), object(22)
memory usage: 9.6+ MB

In [5]:
df['Billed_amt'] = df['Billed_amt'].replace('[\$,()]', '', regex=True).astype(float)
df['Balance'] = df['Balance'].replace('[\$,()]', '', regex=True).astype(float)

# Convert values enclosed in parentheses to negative (if not already handled by regex)
df['Billed_amt'] = df['Billed_amt'].apply(lambda x: -x if str(x).startswith('(') and x.endswith(')') else x)
df['Balance'] = df['Balance'].apply(lambda x: -x if str(x).startswith('(') and x.endswith(')') else x)

In [6]:
# it will save the code related to updated code
df.to_excel('cleaned_data3.xlsx', index=False)  # Similar to CSV, index=False avoids saving the index